<div class="item">
    <div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
        <a href="/detail?id=<%- item._id%>" class="hvr-shutter-out-horizontal"><img src="<%- item.picUrl %>" title="album-name"
                class="img-responsive" alt=" " />
            <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
        </a>
        <div class="mid-1 agileits_w3layouts_mid_1_home">
            <div class="w3l-movie-text">
                <h6><a href="/detail?id=<%- item._id%>"><%- item.moviename %></a></h6>
            </div>
            <div class="mid-2 agile_mid_2_home">
                <p><%- item.movieyear %></p>
                <div class="block-stars">
                    <ul class="w3l-ratings">
                        <%- include('star', { star: item.star || 0}) %>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="ribben">
            <p>NEW</p>
        </div>
    </div>
</div>