<!-- single -->
<div class="single-page-agile-main">
  <div class="container">
    <!-- /w3l-medile-movies-grids -->
    <div class="agileits-single-top">
      <ol class="breadcrumb">
        <li><a href="index.html">首页</a></li>
        <li class="active">详情</li>
      </ol>
    </div>
    <div class="single-page-agile-info">
      <!-- /movie-browse-agile -->
      <div class="show-top-grids-w3lagile">
        <div class="col-sm-8 single-left">
          <div class="song">
            <div class="song-info">
              <h3><%- movie.moviename %></h3>
            </div>
            评分: <%- movie.star %>
            年份: <%- movie.movieyear %>
            简介: <%- movie.desc %>
            <a href="/order?id=<%- movie._id %>"<button>取选座</button>
            <div class="video-grid-single-page-agileits">
              <div data-video="dLmKio67pVQ" id="video">
                <img src="<%- movie.picUrl%>" alt="" class="img-responsive" />
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <!-- //movie-browse-agile -->
    </div>
    <!-- //w3l-latest-movies-grids -->
  </div>
</div>
<!-- //w3l-medile-movies-grids -->
